@use "sass:color";


@mixin nav-box($color) {
  height: 2rem;
  border-radius: 30px;
  background-color: $color;
  justify-items: center;
  align-content: center;
}

@mixin nav-box-status($color) {
  color: color.scale( $color,$lightness: -40%) ;
  text-decoration: none;
  padding: 0.2em 1rem;
}

@mixin nav-item($color){
  position: relative;
  list-style-type: none;
  .nav-item-link {
    @include nav-box-status($color);
  }
}

.nav-box-on {
  $color: hsl(206, 61%, 72%, 70%);
  @include nav-box($color);
  @include nav-item($color);
}

.nav-box-off {
  $color: hsl(0, 0%, 91%, 70%);
  @include nav-box($color);
  @include nav-item($color);
}